/* Header */
.large-header {
position: relative;
width: 100%;
background: #333;
overflow: hidden;
background-size: cover;
background-position: center center;
z-index: 1;
}

.main-title {
position: absolute;
margin: 0;
padding: 0;
color: #f9f1e9;
text-align: center;
top: 50%;
left:50%;
right: -50%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);

font-size: 3.3em;  
font-weight: 100 !important;
font-style: normal !important;

}

@media only screen and (max-width : 768px) {

.main-title {
font-size: 2.2em;
}
}


section {
	padding: 1em;
	text-align: center;
}
.ui-helper-hidden-accessible{
    display: none !important;
}



