
//  ============

 #devFlow, .readings-border{
    border-right: 1px solid #eee;  
 }
 
 /* Small devices (tablets, 768px and up) */
// @media screen and (min-width: 768px) { 
    
 #articles-after-hr{
     display: none;
 }
 
// .six-sec-ease-in-out {
//     -webkit-transition: width 6s ease-in-out;
//     -moz-transition: width 6s ease-in-out;
//     -ms-transition: width 6s ease-in-out;
//     -o-transition: width 6s ease-in-out;
//     transition: width 6s ease-in-out;
// }
 .progress-color{
    //  color: #eee !important;
     background-color: #555 !important;
     font-weight: bold;
 }
 .progress-custom{
     max-width: 250px;
     margin: 0 auto;
     border: 2px solid #555;
     background-color:#fff;
 }


.atag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
    font-weight: bold;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 4px 4px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.atag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.atag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.ablog a {
    color: #666 !important;
}

.ablog a:hover {
    color: #111 !important;
}

.blog-button{
    background-color: #fff !important;
    font-weight: bold !important;
    box-shadow: none !important;
    text-decoration: none;
    text-shadow: none !important;  
}

.blog-button:hover{
     border: 2px solid #333 !important;
}
 .btn-icon:hover{
     color: #000 !important;
     font-weight: 900 !important;
 }

#portfolio-more{
    color: #555 !important;
}

#blog-button-main, #portfolio-button-main{
    color: #eee !important;
    background-color: #333 !important;
    font-weight: bold !important;
    box-shadow: none !important;
    text-decoration: none;
    text-shadow: none !important;  
    border: 1px solid #666 !important;

}
#blog-button-main:hover, #portfolio-button-main:hover{
    color: #555 !important;
    background-color: #fff !important;
    
}
//====================================

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 

#blog-hr{
display: none;
}

 }
 
 /* Small devices (tablets, 768px and below) */
@media screen and (max-width: 768px) { 
  
  #devFlow{
    border-right: none;
 }
  
 #healthFlow-hr{
    display: none;
 }
 
    
 }
 
 /* Medium devices (desktops, 992px and below) */
@media screen and (max-width: 992px) {
     
 .readings-border{
    border-right: none;
 }
 
  #articles-hr{
     display: none;
 }
 
 #articles-after-hr{
     display: inline;
 }
 
 }
 
 
 
//  ===============================================
// articles page

// HTMLCSS
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }