// ============
// 404
// ============
.fourofour{
    font-size: 170px;
    opacity:0.4;
    text-align: center;
    font-weight: 900;
}
 .postitle{
    margin-top: -30px;
    font-size: 30px;
    text-transform: uppercase; 
    opacity:0.5;
    text-align: center;
}
.error_page{ 
    text-align:center;
    // width: 400;
}
.error_msg {
    line-height: 2em;
    // text-align:center;
    // width: 30em;
    padding: 30px; 
    margin-top: -20px;
}