/*-------------Home Preview Grid Responsive----------*/

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; margin-top: -26px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) { 
	
	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}